<%= form_tag('/post/create') do %>
<div>
<h2>買ったもの</h2>
<input type="text" name="content">
<h2>値段</h2>
<input type="text" name="value">
<h2>その他</h2>
<input type="text" name="other">
<input type="submit" value="登録">
</div>
<% end %>